@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #FEFCFD;
    background: #000505;
    font-family: Arial, Helvetica, sans-serif;
  }

  button, a.button {
    @apply bg-darkpurple-700 text-white font-bold py-2 px-4 rounded;
  }

  button:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  a.link {
    color: #BFCDE0;
    /* Columbia Blue */
    text-decoration: underline;
  }

  a.link:hover {
    color: #9FB3D1;
    /* Lighter shade of blue for hover state */
  }

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-lg font-bold;
  }

  input {
    @apply outline-none focus:outline-none bg-darkpurple-900 text-white placeholder:text-lightpurple-200 ring-transparent border border-lightpurple-400 transition-all ease-in disabled:opacity-50 disabled:pointer-events-none select-none py-2 px-2.5 ring shadow-sm rounded-lg duration-100 hover:border-lightpurple-100 focus:border-lightpurple-100
  }

  .card {
    @apply bg-darkpurple-900 p-4 border border-darkpurple-500 shadow-sm rounded-lg;
  }

  .card-neutral {
    @apply bg-darkpurple-900 bg-opacity-50 p-4 border border-darkpurple-800 shadow-sm rounded-sm;  }

  .message-content p {
    @apply mb-4
  }
}
