@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000505;
  --spacecadet: #3B3355;
  --ultraviolet: #5D5D81;
  --columbiablue: #BFCDE0;
  --white: #FEFCFD;
}

body {
  color: var(--white);
  background: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}
